# Commands for first execution

### Generate graphs + simulation run

./simulation.sh

### Plotting

python lineplot-4b.py

## Future steps

- Integrate simulation end checking (job-percent.txt)
- Verify simulation status (job-over.txt)
